@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website is used to find the best price for services & products, try it now for free!!</p>
</div>

<div style="position: fixed; bottom: 0; display: flex; margin-left:520px; margin-bottom:90px">
    
</div>
